{% extends "base.html" %}
{% load static %}

{% block page_title %}
All Challenges
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css"%}">
{% endblock  %}

{% block content %}
{% include  "challenges/includes/header.html" %}
<ul>
    {% for month in  months%}
    {% comment %} <h1> <li> <a href="/challenges/{{month}}">{{month|title}}</a></li></h1> {% endcomment %}
    <h1> <li> <a href="{% url 'month-challenge' month %}">{{month|title}}</a></li></h1>
    {% endfor %}
</ul>
{% endblock %}
